.Header {

    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.Header-ul {
    display: flex;
    gap: 1rem;
}

.Header-li {
    background-color: lightgreen;
}

.Header-boton {
    display: none;
}

@media(max-width: 500px) {
    .Header-boton {
        display: block;
    }

    .Header-nav.isVisible{
        display: block;
    }
    .Header-nav{
        display: none;
    }
}