.Header {
    display: flex;
    justify-content: space-between;
}

.Header-ul {
    display: flex;
    gap: 1rem;
}

.Header-li {
    background-color: lightgreen;
}

.Header-btn {
    display: none;
}

@media (max-width: 500px) {
    .Header-nav {
        display: block;
    }

    .Header-nav.isVisible {
        display: block;
    }


    .Header-btn {
        display: block;
    }
}

